<!DOCTYPE html>
<html>
<body>
  <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
      <button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
      <!-- 他のボタンもここに追加できます -->
      <a href="/" class="navbar-brand">
        <img width="30" src="<%= channel.author.bestAvatar.url.slice(21) %>"> <%= channel.author.name %>   
      </a>
      <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>

    </div>
  </header>
  <div class="results">
    <% channel.items.forEach(video => { %>
    <div class="result-item"> 
      <a href="/w/<%= video.id %>"><img src="<%= video.bestThumbnail.url.slice(19) %>" alt="<%= video.title %>"></a>
      <div class="channel-name"><%= video.author.name %></div>
      <div class="video-title"><%= video.title %></div>
      <div class="video-meta"><%= video.duration %></div>
    </div>
    <% }); %>
  </div>
<div class="pagination">
  <% if (page > 1) { %> <a class="btn position-absolute" style="left: 0; color: white; background-color: #ff8181;" href="/c/<%= channel.id %>?p=<%= page-1 %>">前のページ</a> <% } %>
  <a class="btn position-absolute" style="right: 0; color: white; background-color: #ff8181;" href="/c/<%= channel.id %>?p=<%= page+1 %>">次のページ</a>
 </div>
</body>

</html>