<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div class="video-container">
    <div class="video-embed">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/<%= videoId %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video-details">
      <p class="video-views"><%= videoViews %>回再生、<%= likeCount %>👍</%></p>
        <p class="video-channel"><a href="/channel/<%= channelId %>"><%= channelName %></a></p>
    
      <h1><%= title %></h1>
      <div class="video-description"><%- unescape(videoDes) %></div>
         <div class="video-comments">
         <iframe src="/cm/<%= videoId %>" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<style>
body {
  font-family: Nico Moji, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 20px;
}
.video-embed iframe {
  border-radius: 15px; /* Slightly rounded corners */
  overflow: hidden;
}
.container {
            position: relative;
            top: 0vh;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #f0f0f0;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 20px;
            max-height: 80vh;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: blue;
        }
.comment-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: background-color 0.3s ease;
}

.comment-container:hover {
  background-color: #f1f1f1;
}
img {
  max-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.rVideoInfo {
  width: 100%;
}

.rVideoInfo h4 {
  margin: 0;
  font-size: 18px;
  color: #0073e6;
}

.rVideoInfo h4 a {
  text-decoration: none;
  color: #0073e6;
  transition: color 0.3s ease;
}

.rVideoInfo h4 a:hover {
  color: #005bb5;
}

.rVideoInfo pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 1.4;
}

.rVideoInfo small {
  color: #777;
  font-size: 12px;
}

.rVideoInfo .likes-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rVideoInfo .likes-heart small {
  margin-right: 15px;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>
</body>
</html>